.nexttop-btn {
    position: fixed;
    right: 20px;
    bottom: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 3rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: rotate(-90deg);
    transition: bottom 0.2s linear;
    cursor: pointer;
    &:hover {
        background-color: #fe2c56cb;
    }
}
