.home-content {
    height: 100%;
    max-width: 692px;
    padding-top: 20px;
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}
@media (max-width: 1150px) {
    .home-content {
        padding-left: 30px;
        margin-right: 50px;
    }
}
@media (max-width: 1050px) and (min-width: 900px) {
    .home-content {
        margin-right: 100px;
    }
}
@media (max-width: 600px) {
    .home-content {
        padding-left: 0px !important;
        margin-right: 0px !important;
    }
}
