.footer-wrap {
    position: relative;
    padding: 16px 0 0 8px;
    .link-wrap {
        margin-bottom: 8px;
        a {
            display: inline-block;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.7rem;
            color: var(--text-gray-to-white2);
            margin-right: 6px;
            margin-top: 5px;
        }
    }
    .more-link {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: var(--text-gray-to-white2);
    }
    & > span {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: var(--text-gray-to-white2);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 8px;
        left: 8px;
        height: 1px;
        background: var(--separate);
    }
}
@media (max-width: 1050px) {
    .footer-wrap {
        display: none;
    }
}
