// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import 'normalize.css';
// fonst emmbed
@font-face {
    font-family: Proxima;
    src: url('../asset/font/Proxima-Nova-Regular.woff2');
    font-weight: 600;
}
@font-face {
    font-family: Proxima2;
    src: url('../asset/font/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: Proxima3;
    src: url('../asset/font/zYXgKVElMYYaJe8bpLHnCwDKhd7eFaxOedfTDw.woff2');
    font-weight: 600;
}
:root {
    --header-height: 60px;
    --default-horizontal-spacer: 20px;
    --primary-color: #fe2c55;
    --blur-color: #8a8b90;
    --foxima-fonts: 'Proxima', sans-serif;
    --check: #20d5ec;
    --white-color: #fff;
    --gray: rgba(22, 24, 35, 0.06);

    --white-to-black: #fff;
    --white-to-gray: #fff;
    --white-to-gray-hover: #fff4f5;
    --white-to-gray2: #fff;
    --white-to-gray2-hover: #f8f8f8;
    --white-to-gray3: #fff;
    --text-color: rgba(22, 24, 35, 1);
    --text-gray-to-white: rgba(22, 24, 35, 0.5);
    --text-gray-to-white2: rgba(22, 24, 35, 0.9);
    --text-gray-to-white3: rgba(22, 24, 35, 0.9);
    --gray-to-transparent: #e3e3e4;
    --gray-to-graydark: rgba(22, 24, 35, 0.06);
    --gray-to-graydark2: rgba(39, 40, 46, 0.173);

    --search-background: rgba(22, 24, 35, 0.06);
    --search-btn-background: #ebebeb;
    --separate: rgba(22, 24, 35, 0.12);
    --placeholder-color: rgba(92, 92, 92, 0.9);
    --clear-icon-background: #a6a7ab;
    --clear-icon-color: #f1f1f2;
    --scrollbar: rgba(22, 24, 35, 0.06);
}
[data-theme='dark-mode']:root {
    --gray: rgba(255, 255, 255, 0.12);
    --white-to-black: #121212;
    --white-to-gray: rgba(255, 255, 255, 0.08);
    --white-to-gray-hover: rgba(254, 44, 85, 0.06);
    --white-to-gray2: rgb(37, 37, 37);
    --white-to-gray2-hover: rgba(255, 255, 255, 0.04);
    --white-to-gray3: rgb(37, 37, 37);
    --text-color: rgba(255, 255, 255, 0.9);
    --text-gray-to-white: rgba(255, 255, 255, 0.75);
    --text-gray-to-white2: rgba(255, 255, 255, 0.5);
    --text-gray-to-white3: rgba(255, 255, 255, 0.5);
    --gray-to-transparent: transparent;
    --gray-to-graydark: rgba(255, 255, 255, 0.12);
    --gray-to-graydark2: rgba(255, 255, 255, 0.182);

    --search-background: rgba(255, 255, 255, 0.12);
    --search-btn-background: rgba(255, 255, 255, 0.04);
    --separate: rgba(255, 255, 255, 0.12);
    --placeholder-color: rgba(255, 255, 255, 0.9);
    --clear-icon-background: #767676;
    --clear-icon-color: #2f2f2f;
    --scrollbar: rgba(255, 255, 255, 0.08);
}

html {
    font-family: var(----foxima-fonts);
    line-height: 1.8rem;
    font-size: 62.5%;
    background-color: var(--white-to-black);
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

html *::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}

body {
    overflow-y: overlay;
}
* {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 1.6rem;
    margin: 0;
    color: var(--text-color);
}
input,
button {
    border: none;
    outline: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.tippy-box {
    padding: 3px 0;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #616161;
    border-radius: 8px;
    .tippy-arrow:before {
        border-bottom-color: #616161 !important;
    }
}
